<h3>EUC-KR 카운터 및 변환기</h3>

UTF-8: @Count
<br />
EUC-KR: @CountKR
<br />

<StandaloneDiffEditor
    @ref="_diffEditor"
    Id="sample-diff-editor-123"
    ConstructionOptions="DiffEditorConstructionOptions"
    OnDidInit="EditorOnDidInit"
    OnKeyUpOriginal="EditorOnKeyUpOriginal"
    OnKeyUpModified="EditorOnKeyUpModified"
    />


